@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-oswald), ui-sans-serif, system-ui, sans-serif;
  --color-brand-amber: #f59e0b;
}

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #f1f5f9; /* slate-100 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
